{% extends "base.html" %}

{% block title %}
    {{ _('Edit About') }}
{% endblock %}

{% block content %}
    <h1>{{ _('Edit About') }}</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.body.label(class="form-label") }}
            {{ form.body(class="form-control" + (' is-invalid' if form.body.errors else '')) }}
            {% for error in form.body.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group mt-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
